<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name = "LOG_DIR" value="${user.dir}/.logs"/>
    <property name = "LOG_PATTERN" value="%d{yy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %logger{36} - %msg%n"/>

    <!-- 로그를 어디에 기록할까? -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/app.log</file>
<!--        <file>/Users/hyeong-il/7-sprint-mission/logs/app.log</file>-->

        <!-- 날짜가 바뀔 때 (자정 기준) 로그 파일 분리-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/app-%d{yy-MM-dd}.log</fileNamePattern>
<!--            <maxFileSize>10MB</maxFileSize>-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <!--    <logger name="com.example.loggingdemo" level="DEBUG" />-->
    <!--    <logger name="org.springframework.web" level="WARN" />-->

    <!-- 기본 로그 레벨 설정 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>